/** App Global Styles */
.b-divider {
  height: 2rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%),
    inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
}

.helpModal {
  min-width: 40vw;
}

.highlighted-block {
  background-color: #f2641942;
  padding: 1rem 1.2rem;
  border-radius: 0.3rem;
  margin: 1rem 0;
}

.highlighted-block p:last-child {
  margin-bottom: 0;
}

/** 
 * Special styles for printing
 * The page container stretches to occupy all page space. 
 * Unnecessary elements disappear (navigation, hero, footer, form, buttons...)
 * See Page.module.css also (styles of styled component Page)
 */
@media print {
  .main-nav,
  .main-footer,
  .intro-hero,
  .form-container {
    display: none;
  }
  .page-container {
    padding: 0 !important;
    width: 100%;
  }
  .page-container .actions {
    display: none;
  }
  .printable-page-wrapper {
    padding: 0 !important;
  }
}
